#container {
  width: 25%;
  padding: 20px;
  /* height:400px; */
  margin: auto;
  background-color: #e3dadb;
  margin-top: 20px;
  margin-bottom: 40px;
}
#container > form > input {
  margin: auto;
  width: 80%;
  padding: 15px;
  margin: 10px 15px 10px 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  color: black;
  background-color: white;
}
#payment {
  text-align: center;
}
#container > form > input ~ #sub {
  background-color: white;
  width: 90%;
  /* padding:15px; */
  margin: 10px 15px 10px 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  color: black;
}
#success {
  margin: 0px 20% 0 17%;
  width: 58%;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  border: 2px solid black;
}
