body {
  background-color: #ddd;
  font-family: arial;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup {
  width: 350px;
  height: 280px;
  padding: 30px 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
}
.popup .icon {
  margin: 5px 0px;
  width: 50px;
  height: 50px;
  border: 2px solid #34f234;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
}
.popup .icon i.fa {
  font-size: 30px;
  color: #34f234;
}
.title {
  margin-top: 20px;
}
.pop .title {
  margin: 5px 0px;
  font-size: 40px;
  font-weight: 600;
  border: 1px solid red;
}
.popup .dismiss-btn button {
  padding: 10px 20px;
  background-color: #111;
  color: #f5f5f5;
  margin-top: 30px;
  border: 2px solid #111;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover {
  color: #111;
  background-color: #f5f5f5;
}
